.image-large {
  height: 400px;
  width: 400;
  object-fit: cover;
  border-radius: 5px;
}
.image {
  width: 50px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  object-fit: cover;
}
/* .image-container {
  height: 100vh;
} */
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.carousal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  cursor: pointer;
}
.image-active {
  width: 50px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid dodgerblue;
}
